html, body {
	margin: 0;
}

.debug_menu {
    position: absolute;
    top: 2em;
    width: 90%;
    left: 5%;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.hidden{
	display: none;
}
.maticon {
    width: 2em;
}
.debug_close, .debug_button{
	cursor: pointer;
}